In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#import dataset
dataset = pd.read_csv('zomato500.csv')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          500 non-null    object
 1   address                      500 non-null    object
 2   name                         500 non-null    object
 3   online_order                 500 non-null    object
 4   book_table                   500 non-null    object
 5   rate                         456 non-null    object
 6   votes                        500 non-null    int64
 7   phone                        494 non-null    object
 8   location                     500 non-null    object
 9   rest_type                    500 non-null    object
 10  dish_liked                   237 non-null    object
 11  cuisines                     498 non-null    object
 12  approx_cost(for two people)  500 non-null    object
 13  reviews_list                 500 non-null    object
 14  menu_item                    500 non-null    object
 15  listed_in(type)              500 non-null    object
 16  listed_in(city)              500 non-null    object
dtypes: int64(1), object(16)
memory usage: 66.5+ KB

In [3]:
dataset.isnull().any()

url                            False
address                        False
name                           False
online_order                   False
book_table                     False
rate                            True
votes                          False
phone                           True
location                       False
rest_type                      False
dish_liked                      True
cuisines                        True
approx_cost(for two people)    False
reviews_list                   False
menu_item                      False
listed_in(type)                False
listed_in(city)                False
dtype: bool

In [4]:
dataset["rate"].fillna( method ='ffill', inplace = True)

In [5]:
dataset['rate'].isnull().any()

False

In [6]:
fs=[]
for i in range(0,500):
    t=(dataset['rate'][i]).split('/5')
    f=t[0]
    fs.append(f)

In [7]:
for i in range(0,500):
    temp=fs[i]
    if temp=="NEW":
        fs[i]='3.5'

In [8]:
a=[]
for i in range(0,500):
    temp=fs[i]
    a.append(temp)

In [9]:
dataset['rate']=a

In [10]:
import re
import nltk
nltk.download('stopwords')

[nltk_data] Error loading stopwords: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

False

In [11]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()

In [12]:
#Replacing puncuations and numbers using re library
#stemming
data=[]
for i in range(0,500):
    review=dataset["reviews_list"][i]
    review= re.sub('[^a-zA-Z]',' ',review)
    #stemming    
    review = review.split()
    review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
    review = ' '.join(review)
    data.append(review)
i+=1
data
df = pd.DataFrame(data)
dataset.to_csv("zomato500.csv", index=False)
dataset["review_list"]=data

In [13]:
#convert lower case.
d=[]
for i in range(0,500):
    lower_case=data[i]
    lower_case=lower_case.lower()
    
    d.append(lower_case)
data=d

In [14]:
dataset["review_list"]=data

In [15]:
import pickle
from  sklearn.feature_extraction.text import CountVectorizer

In [16]:
cv =CountVectorizer(max_features=1500)
X=cv.fit_transform(d).toarray()
y= dataset.iloc[:,5:6].values

In [17]:
#y

In [18]:
#split train and test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [19]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
C:\Users\AKASH\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\AKASH\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\AKASH\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\AKASH\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\AKASH\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\AKASH\anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\AKASH\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\AKASH\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\AKASH\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\AKASH\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\AKASH\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\AKASH\anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [20]:
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [21]:
model=Sequential()

In [22]:
#adding input layer
model.add(Dense(input_dim=1500,init="random_uniform",activation='sigmoid',output_dim=1000))#input layer
#adding hidden layer
model.add(Dense(output_dim=100,init="random_uniform",activation='sigmoid'))#hidden layer
#adding output layer layer
model.add(Dense(output_dim=1,init='random_uniform',activation='sigmoid'))

In [23]:
#model.add(Dense(output_dim=128,activation='relu',init='random_uniform',input_dim=1500))

In [24]:
#model.add(Dense(output_dim=1,activation='relu',init='random_uniform'))

In [25]:
#model.add(Dense(output_dim=1,activation='sigmoid',init='random_uniform'))

In [26]:
#optimize the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['accuracy'])

In [27]:
model.fit(X,y,epochs=5,batch_size=10)

WARNING:tensorflow:From C:\Users\AKASH\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/5
500/500 [==============================] - 2s 4ms/step - loss: 2.7805 - accuracy: 0.0000e+00
Epoch 2/5
500/500 [==============================] - 2s 3ms/step - loss: 2.6839 - accuracy: 0.0000e+00
Epoch 3/5
500/500 [==============================] - 2s 3ms/step - loss: 2.6714 - accuracy: 0.0000e+00
Epoch 4/5
500/500 [==============================] - 2s 3ms/step - loss: 2.6672 - accuracy: 0.0000e+00
Epoch 5/5
500/500 [==============================] - 2s 3ms/step - loss: 2.6651 - accuracy: 0.0000e+00

In [28]:
#save the model
from joblib import dump
dump(model,'model.savedy')

['model.savedy']